.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#top {
  position: relative;
  top: 11px
}
.credit {
  margin: 0 auto;
  text-align: center;
}

.page-viewer-wrapper {
	display: none;
	width: 100vw;
	position: absolute;
	bottom: 50px;
}

.page-viewer{
	font-size: 50px;
	color: #FFFFFF;
	cursor: pointer;
}

@media (min-width: 1200px){
  .container {
    width: 1170px;
  }
}
@media (min-width: 992px){
.container {
    width: 970px;
  }
}
@media (min-width: 768px){
.container {
    width: auto;
  }
}

@media (min-width: 992px ) {
  .masthead {
	  height: 100vh;
  }
  
  .page-viewer-wrapper {
	  display: block;
  }
}

.masthead {
	background: #303030 url(../img/background.png) no-repeat fixed center/cover !important;
}

.ui.secondary.inverted.pointing.menu {
	border: none;
}

/*.mobile-only, .desktop-only, .tablet-only {
  display: none !important;
}

@media (max-width: 768px ) {
  .mobile-hidden {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    opacity: 0 !important;
    overflow: hidden !important;
  }

  .mobile-only {
    display: flex !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .tablet-only {
    display: flex !important;
  }
}

@media (min-width: 991px) {
  .desktop-only {
    display: flex !important;
  }
}*/

.mdi {
  /* Prevention of 'Icons' font */
  font-family: "Material Design Icons" !important;
}

.wrap {
    padding: 5px 0;
}

.row-container {
    margin-left: 0;
    margin-right: 0;
}

.footer .col {
    padding: 10px 0 20px;
}
